<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>validator</title>
  <meta name="description" content="validator - Web interface to validate ocds data">
  <meta name="author" content="Sarah Bird">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
</head>

<body>
    {% block jumbotron %}
    <header class="subhead" id="overview">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <h1>Open Contracting Data Standard - Validator</h1>
            </div>
          </div>
        </div>
    </header>
    {% endblock %}

    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
</body>
</html>
