{% extends "base.html" %}{% load crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
        <h2>About</h2>
        <p>This is a small web application to provide a front-end interface to validate whether data is compliant to the Open Contracting Data Standard (OCDS). It can validate either a release package or a record package.</p>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
        <h2>Validate</h2>
		{% crispy form %}
	</div>
</div>
{% endblock %}
